/* ---------- Reset ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  /*background-color: #050816;*/
  color: #f9fafb;
  line-height: 1.6;
}

/* ---------- Navbar ---------- */


/* ---------- Header ---------- */
.page-header {
  text-align: center;
  padding: 4rem 8%;
}

.page-header h1 {
  font-size: 2.5rem;
}

.page-header p {
  color: #9ca3af;
  margin-top: 0.5rem;
}

/* ---------- Grid ---------- */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem 8% 4rem;
}

/* ---------- Card ---------- */
.project-card {
  background: #0b1020;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image-wrapper img:hover {
  transform: translateY(-6px);
}

.image-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: grey 2px solid;
}
.project-links a:hover {
    transition: transform 0.2s ease-in-out;
}

/* ---------- Content ---------- */
.project-content {
  padding: 1.5rem;
}

.project-content h3 {
  color: #38bdf8;
  margin-bottom: 0.5rem;
}

.project-content p {
  color: #9ca3af;
  font-size: 0.95rem;
}

/* ---------- Links ---------- */
.project-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.project-links a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 500;
}

/* ---------- Footer ---------- */
.footer {
  text-align: center;
  padding: 2rem;
  color: #9ca3af;
  font-size: 0.9rem;
}
